
body {
   background-color: red;
 }

.container
{
   margin-top:20px ;
 
}
.container1
{
   margin-top:100px ;
}


.form-select
{
    width: 200px;
}
.container2
{
   width: 700px;
   height: 800px;
   margin-top: 200px;
}
  